<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Free Notes</title>
	<!-- BOOTSTRAP STYLES-->
	<link href="css/bootstrap.css" rel="stylesheet" />
	<!-- FONTAWESOME STYLES-->
	<link href="css/font-awesome.css" rel="stylesheet" />
	<!-- CUSTOM STYLES-->
	<link href="css/custom.css" rel="stylesheet" />
	<!-- GOOGLE FONTS-->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
	<link rel="stylesheet" type="text/css" href="vendors/fancy/jquery.fancybox.css?v=2.1.5" media="screen" />
</head>
<body>
	<div id="wrapper">
		<nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
                <a class="navbar-brand" href="#" >Free Notes</a> 
            </div>
				<div style="color: white; padding: 15px 50px 10px 50px; float: right; font-size: 16px;">
					Usuario: <span id="user-span"><%=userName%></span>
				</div>
		</nav>
		<div id="wrapper-detail">

		</div>
		<!-- /. PAGE WRAPPER  -->
	</div>
	<!-- /. WRAPPER  -->
	<!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
	<!-- JQUERY SCRIPTS -->
	<script src="js/jquery-1.10.2.js"></script>
	<script src="js/jquery.form.min.js"></script>
	<!-- BOOTSTRAP SCRIPTS -->
	<script src="js/bootstrap.min.js"></script>
	<!-- METISMENU SCRIPTS -->
	<script src="js/jquery.metisMenu.js"></script>
	<!-- CUSTOM SCRIPTS -->
	<script src="js/notify.js"></script>
	<script src="js/custom.js"></script>
	<script src="js/bootbox.js"></script>
	<!-- APP SCRIPTS -->
	<script src="js/appbuilded.js"></script>
	<!-- VENDORS SCRIPTS -->
	<script type="text/javascript" src="vendors/fancy/jquery.fancybox.js?v=2.1.5"></script>
	<script type="text/javascript">
		$(document).ready(function() {

			$('.fancybox').fancybox();

		});
	</script>
	<style type="text/css">
		.fancybox-custom .fancybox-skin {
			box-shadow: 0 0 50px #222;
		}		
	</style>

	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="vertical-alignment-helper">
			<div class="modal-dialog vertical-align-center">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="myModalLabel">Registrar Usuario</h4>
					</div>
					<div class="modal-body">

					<form class="form-horizontal" role="form">
						<div class="form-group">
							<label  class="col-sm-2 control-label" for="inputEmail3">
								Username
							</label>
							<div class="col-sm-10">
								<input type="email" class="form-control" id="username" placeholder="Username"/>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="inputPassword3" >
								Password
							</label>
							<div class="col-sm-10">
								<input type="password" class="form-control" id="password" placeholder="Password"/>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="inputPassword3" >
								Confirmar
							</label>
							<div class="col-sm-10">
								<input type="password" class="form-control" id="confirm" placeholder="Confirmar Password"/>
							</div>
						</div>
					</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary" id="register-user">Confirmar</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="modalShare" tabindex="-1" role="dialog" aria-labelledby="modalShareLabel" aria-hidden="true">
		<div class="vertical-alignment-helper">
			<div class="modal-dialog vertical-align-center">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="modalShareLabel">Compartir Nota</h4>
					</div>
					<div class="modal-body">

					<form class="form-horizontal" role="form">
						<div class="form-group">
							<div class="col-sm-10">
								<div id="user-list">
								</div>
							</div>
						</div>
					</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default pull-left" data-dismiss="modal" id="share-note-cancel">Close</button>
						<button type="button" class="btn btn-primary" id="share-note">Confirmar</button>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>
